.introduction {
	margin: 5em 3em;
	max-width: 40em;
	align-content: right;	
}

.article {
	margin: 12em 3em;
	min-width: 200px;
}

/*header .menu {

}*/

body {
	background-color: #241734;
	color: #F9C80E;
}

body .article, .introduction {
	vertical-align: center;
}