
body {
	background-color: $dark-purple;
	color: $body-yellow;
}

li { 
	list-style: none;
}

body .article, .introduction {
	vertical-align: center;
}

body .article img {
	width: $body-mobile;
	height: $body-mobile;
	align: center;
}

// Misc classes
.continue-status {
	text-align: center;
}

.selected {
	color: $dark-purple;
	background-color: $body-yellow;
}

@media (min-width: 40em) {
	body .article img {
		width: $body-comp;
		height: $body-comp;
	}
}