
body {
	background-color: #180f24;
	color: #F9C80E;
}

li {
	list-style: none;
}

h1 {
	font-size: 44px;
}

h2 {
	font-size: 35px;
}

h3 {
	font-size: 23px;
}

p {
	font-size: 18px;
}

h1, h2, p {
	font-family: base-mono-narrow, monospace;
}

body .article, .introduction {
	vertical-align: center;
}

body img {
	width: 200px;
	height: 200px;
}

.selected {
	color: #791E94;
	background-color: #F9C80E;
}

.anchor-target {
	padding: 3em;
}

@media (min-width: 40em) {
	body img {
		width: 400px;
		height: 400px;
	}
}