
header{
	text-align: center;
	background-color: $light-blue;
	padding: .75em 0;
}

header h1, a {
	color: $dark-purple;
}

header menu-div {
	text-align: center;
}

header li a:hover {
	background-color: $body-yellow;
}

header img {
	width: $mobile-header-img;
}

@media (min-width: 40em) {
	header img {
	width: $header-img;
	} 
}

@media (min-width: 40em) {
	header h1 {
	text-align: left;
	}
	header a {
		text-align: right;
	}

}