
header{
	background-color: darken($light-blue, 10%);
	padding: .75em 0;
	overflow: visible;
}

header h1, a {
	color: $dark-purple;
	padding: .7 .5;
}

// header .menu-div {
// 	text-align: center;
// }

header li a:hover {
	background-color: $body-yellow;
}

header img {
	width: $mobile-header-img;
	align: left;
}

@media (min-width: 40em) {
	header img {
	width: $header-img;
	} 
	ul {
	    margin: auto;
	}
}