
header{
	text-align: center;
	background-color: #2DE2E6;
	padding: 2em 0;
}

header h1, a {
	color: #FD1D53;
}

header menu-div {
	text-align: center;
}

header li a {
	margin: -.125em;
}

header li a:hover {
	color: #241734;
	background-color: #F9C80E;
	padding: 0 -5em;
}

@media (min-width: 80em) {
	header h1 {
	text-align: left;
	}
	header a {
		text-align: right;
	}
}