// Typography

h1 {
	font-size: $type-h1;
}

h2 {
	font-size: $mobile-type-h2;
}

h3 {
	font-size: $mobile-type-h3;
	font-weight: 700;
}

p {
	font-size: $mobile-type-p;
}

h1, h2, h3, p, a {
	font-family: $type-style;
}

@media (min-width: 40em) {

	h2 {
		font-size: $type-h2;
	}

	h3 {
		font-size: $type-h3
	}

	p {
		font-size: $type-p;
	}

}