//TYPOGRAPHY
$type-h1: 44px;
$type-h2: 35px;
$type-h3-p: 18px;

$mobile-type-h2: 18px;
$mobile-type-p: 14px;

$type-style: base-mono-narrow, monospace;

//Colours
$dark-purple: #180f24;
$body-yellow: #F9C80E;
$light-blue: #2DE2E6;

//img-widths
$header-img: 150px;
$body-mobile: 200px;
$body-comp: 400px;

//header
$header-padding: .75em 0;
$intro-margin: 6em 3em 0 3em;
$art-margin: 1.5em 2em;
$anchor-padding: 5em 0;